.section-description {
	.container {
		&-description {
            padding-block: 64px;
			flex-direction: column;
            gap: 56px;
			@include responsive(sm) {
				padding-block: 32px;
				gap: 32px;
			}
			.head-content {
                border-bottom: 1px solid #ffffff;
				.subtext-text {
					display: flex;
					align-items: flex-start;
                    margin-bottom: 32px;
					&-subtitle {
						color: #fff;
						font-family: $font-body;
						font-size: 24px;
						font-weight: 700;
						line-height: 130%; /* 31.2px */
						letter-spacing: -0.72px;
                        &:nth-child(1) {
							margin-right: 206px;
							@include responsive(xl) {
								margin-right: 138px;
							}
							@include responsive(md) {
								width: 100%;
								margin-right: 0;
								display: flex;
								justify-content: space-between;
							}
                        }
                        &:nth-child(2) {
                            margin-right: 504px;
							@include responsive(xl) {
								margin-right: 338px;
							}
							@include responsive(md) {
								margin-right: 0;
							}
                        }
					}
				}
			}
			.body-content {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
				width: 100%;
				@include responsive(md) {
					flex-direction: column;
					gap: 32px;
				}
				@include responsive(sm) {
					gap: 24px;
				}
				.subtitle {
					color: #fff;
					font-family: $font-body;
					font-size: 64px;
					font-weight: 500;
					line-height: 130%; /* 83.2px */
					letter-spacing: -1.92px;
				}
				.description-slider {
                    max-width: 83.3%;
					@include responsive(md) {
						max-width: 100%;
					}
					.slick-track {
						display: flex;
						gap: 32px;
						@include responsive(sm) {
							gap: 20px;
						}
					}
					.slide {
						display: flex;
						align-items: flex-start;
						gap: 20px;
						@include responsive(sm) {
							flex-direction: column;
						}
						&-image {
							max-width: 549px;
							@include responsive(xl) {
								max-width: 354px;
							}
							@include responsive(sm) {
								max-width: 334px;
							}
						}
						&-text {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 24px;
							@include responsive(md) {
								gap: 16px;
							}
							&-subtitle {
								color: #fff;
								font-family: $font-body;
								font-size: 32px;
								font-weight: 700;
								line-height: 130%; /* 41.6px */
								letter-spacing: -0.96px;
								@include responsive(xl) {
									font-size: 24px;
								}
							}
							&-desc {
								color: #fff;
								font-family: $font-body;
								font-size: 24px;
								font-weight: 500;
								line-height: 130%; /* 31.2px */
								letter-spacing: -0.72px;
								max-width: 399px;
								@include responsive(xl) {
									max-width: 380px;
								}
								@include responsive(md) {
									font-size: 18px;
									max-width: 338px;
								}
							}
						}
					}
				}
                .wrapper-btn {
					display: flex;
					align-items: flex-start;
					gap: 24px;
                    position: absolute;
                    bottom: 0;
                    right: 248px;
					@include responsive(xl) {
						right: 0;
					}
					@include responsive(sm) {
						position: relative;
						width: 100%;
						justify-content: space-between;
					}
				}
			}
		}
	}
}
