@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap");
@font-face {
  font-family: "Eudoxus Sans";
  src: url("/assets/fonts/eudoxussans-regular-webfont.woff2") format("woff2"), url("/assets/fonts/eudoxussans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eudoxus Sans medium";
  src: url("/assets/fonts/eudoxussans-medium-webfont.woff2") format("woff2"), url("/assets/fonts/eudoxussans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Eudoxus Sans bold";
  src: url("/assets/fonts/eudoxussans-bold-webfont.woff2") format("woff2"), url("/assets/fonts/eudoxussans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: inline-block;
  padding: 36px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  transition: all 300ms ease;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .btn {
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 28px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .btn {
    padding: 24px;
  }
}
.btn-arrow {
  display: inline-flex;
}
.btn.hover-dark:hover {
  background-color: #1f1f1f;
}
.btn.hover-dark:hover .arrow-btn-hover-white path {
  stroke: #ffffff;
}
.btn.hover-light:hover {
  background-color: #ffffff;
}
.btn.hover-light:hover .arrow-btn path {
  stroke: #1f1f1f;
}
.btn.border-dark {
  display: inline-flex;
  border: 2px solid #1f1f1f;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.img,
.ic {
  width: 100%;
}

.bg-dark {
  background-color: #1f1f1f;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

body {
  font-family: "Eudoxus Sans medium";
  font-size: 16px;
  font-weight: 500;
  color: #1f1f1f;
}

.heading-text {
  font-family: "Eudoxus Sans bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -3%;
}
@media (max-width: 768px) {
  .heading-text {
    font-size: 28px;
  }
}
.heading-text-small {
  font-size: 24px;
}
.heading-text-authentic {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-weight: 700;
  font-style: italic;
  line-height: 110%;
}
.heading-text-authentic span {
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1024px) {
  .heading-text-authentic {
    font-size: 98px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .heading-text-authentic {
    font-size: 52px;
  }
}
.heading-text-md {
  font-family: "Eudoxus Sans medium";
  font-size: 64px;
  font-weight: 500;
}

.desc-text {
  font-family: "Eudoxus Sans medium";
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.6px;
}
@media (max-width: 1024px) {
  .desc-text {
    font-size: 22px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .desc-text {
    font-size: 20px;
  }
}

.wrap-btn {
  display: flex;
  gap: 24px;
}

.navbar {
  position: relative;
}
.navbar-inner {
  padding-block: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.96px;
}
.navbar-toggler {
  display: block;
  cursor: pointer;
}
.navbar-toggler-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("/assets/images/ic-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  gap: 48px;
}
.navbar-collapse .navbar-nav .nav-link {
  font-family: "Eudoxus Sans medium";
  font-size: 20px;
  font-weight: 500;
  color: rgba(31, 31, 31, 0.6);
  transition: all 300ms ease;
}
.navbar-collapse .navbar-nav .nav-link:hover {
  color: #1f1f1f;
}
.navbar-collapse.active {
  height: 360px;
}
.navbar-collapse.active .navbar-nav {
  opacity: 1;
}
@media (max-width: 1024px) {
  .navbar-collapse .navbar-nav {
    gap: 36px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse.active {
    height: unset;
  }
}
@media (max-width: 768px) {
  .navbar-inner {
    padding-block: 20px;
  }
  .navbar-collapse {
    z-index: 99;
    height: 0;
    position: absolute;
    top: 97px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: all 500ms ease;
    overflow: hidden;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    transition: all 300ms ease;
    opacity: 0;
  }
}

.hero {
  padding-top: 56px;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 64px;
}
.hero-top .heading-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-top .heading-content .desc-text {
  font-size: 20px;
  max-width: 358px;
}
.hero-bottom .img-hero {
  max-width: 1344px;
}
@media (max-width: 1024px) {
  .hero-top .heading-content .desc-text {
    font-size: 18px;
    max-width: 316px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper {
    gap: 40px;
  }
  .hero .heading-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .hero {
    padding-block: 36px;
  }
  .hero-wrapper {
    gap: 32px;
  }
  .hero .heading-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
  }
  .hero .heading-content .desc-text {
    font-size: 16px;
    max-width: unset;
  }
}

.banner {
  padding-block: 64px;
}
.banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-wrapper .heading-content-small {
  max-width: 341px;
}
.banner-wrapper .desc-text {
  max-width: 776px;
}
@media (max-width: 1024px) {
  .banner-wrapper .heading-content-small {
    max-width: 218px;
  }
  .banner-wrapper .desc-text {
    max-width: 690px;
  }
}
@media (max-width: 768px) {
  .banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
  .banner-wrapper .heading-content-small {
    max-width: unset;
  }
  .banner-wrapper .desc-text {
    max-width: unset;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .banner {
    padding-block: 44px;
  }
}

.art {
  padding-block: 56px;
  background-color: #1f1f1f;
}
.art-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
}
.art-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.art-left .heading-content .heading-text {
  margin-bottom: 24px;
  color: #ffffff;
}
.art-left .heading-content .desc-text {
  max-width: 561px;
  color: #ffffff;
}
.art-right {
  width: 50%;
}
.art-right .slider-art .card {
  max-width: 434px;
  flex-shrink: 0;
  margin-inline: 20px;
}
.art-right .slider-art .card-body {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.art-right .slider-art .card-body .card-title {
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.48px;
}
.art-right .slider-art .card-body .card-desc {
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.48px;
  max-width: 207px;
}
@media (max-width: 1024px) {
  .art-right .slider-art .card {
    max-width: 400px;
    margin-inline: 16px;
  }
}
@media (max-width: 768px) {
  .art-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  .art-left {
    gap: 40px;
  }
  .art-left .heading-content .heading-text {
    margin-bottom: 16px;
  }
  .art-left .heading-content .desc-text {
    max-width: unset;
  }
  .art-left .wrap-btn {
    width: 100%;
    gap: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .art-right {
    width: 100%;
  }
  .art-right .slider-art .card-body {
    gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .art {
    padding-block: 36px;
  }
  .art-right {
    width: 100%;
  }
  .art-right .slider-art .card {
    max-width: 324px;
  }
  .art-right .slider-art .card-body {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .art-right .slider-art .card-body .card-desc {
    max-width: unset;
  }
}

.meet {
  padding-block: 64px;
}
.meet-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 64px;
}
.meet-top .heading-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.meet-top .heading-content .desc-text {
  max-width: 650px;
}
.meet-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
}
.meet-bottom .img-meet {
  max-width: 662px;
}
@media (max-width: 1024px) {
  .meet-bottom .img-meet {
    max-width: 452px;
  }
}
@media (max-width: 768px) {
  .meet-wrapper {
    gap: 40px;
  }
  .meet-top .heading-content {
    gap: 32px;
  }
  .meet-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .meet-bottom .img-meet {
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .meet {
    padding-block: 44px;
  }
}

.description {
  background-color: #1f1f1f;
  padding-block: 64px;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 64px;
}
.description-top {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 32px;
}
.description-top .heading-content {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
.description-top .heading-content .heading-text-small {
  color: #ffffff;
}
.description-top .heading-content .heading-text-small:nth-child(1) {
  margin-right: 178px;
}
.description-top .heading-content .heading-text-small:nth-child(2) {
  margin-right: 534px;
}
.description-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.description-bottom .heading-text-md {
  color: #ffffff;
}
.description-bottom .slider-description {
  max-width: 83.3%;
}
.description-bottom .slider-description .item {
  flex-shrink: 0;
  margin-inline: 28px;
}
.description-bottom .slider-description .item:nth-child(1) {
  margin-left: unset;
}
.description-bottom .slider-description .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  gap: 20px;
}
.description-bottom .slider-description .card-img {
  max-width: 543px;
}
.description-bottom .slider-description .card-body .card-title {
  color: #ffffff;
  margin-bottom: 24px;
}
.description-bottom .slider-description .card-body .card-desc {
  color: #ffffff;
  max-width: 399px;
}
.description-bottom .wrap-btn {
  position: absolute;
  bottom: 0;
  right: 278px;
}
@media (max-width: 1024px) {
  .description-top .heading-content .heading-text-small {
    color: #ffffff;
  }
  .description-top .heading-content .heading-text-small:nth-child(1) {
    margin-right: 110px;
  }
  .description-top .heading-content .heading-text-small:nth-child(2) {
    margin-right: 324px;
  }
  .description-bottom .slider-description .item .card {
    gap: 10px;
  }
  .description-bottom .slider-description .item .card-img {
    max-width: 354px;
  }
  .description-bottom .wrap-btn {
    right: 0;
  }
}
@media (max-width: 768px) {
  .description-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  .description-bottom .slider-description {
    max-width: 100%;
  }
  .description-bottom .slider-description .card-body .card-desc {
    max-width: 362px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .description {
    padding-block: 44px;
  }
  .description-top .heading-content .heading-text-small {
    color: #ffffff;
  }
  .description-top .heading-content .heading-text-small:nth-child(1) {
    margin-right: 40px;
  }
  .description-top .heading-content .heading-text-small:nth-child(2) {
    margin-right: 40px;
  }
  .description-bottom .slider-description .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .description-bottom .slider-description .card-img {
    max-width: 333px;
  }
  .description-bottom .slider-description .card-body .card-title {
    margin-bottom: 16px;
  }
  .description-bottom .wrap-btn {
    position: relative;
    right: 0;
    width: 100%;
    justify-content: space-between;
  }
}

.why {
  padding-block: 64px;
}
.why-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 64px;
}
.why-wrapper .item {
  padding-bottom: 32px;
}
.why-wrapper .item:not(:last-child) {
  border-bottom: 1px solid #1f1f1f;
}
.why-wrapper .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.why-wrapper .card .heading-content .desc-text {
  max-width: 878px;
}
@media (max-width: 1024px) {
  .why-wrapper .card .heading-content .desc-text {
    max-width: 635px;
  }
}
@media (max-width: 768px) {
  .why-wrapper .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .why-wrapper .card .heading-content .heading-text {
    margin-bottom: 16px;
  }
  .why-wrapper .card .heading-content .desc-text {
    max-width: unset;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .why {
    padding-block: 44px;
  }
}

.talk {
  padding-block: 72px;
  background-color: #1f1f1f;
}
.talk-wrapper {
  text-align: center;
}
.talk-wrapper .desc-text {
  color: #ffffff;
  margin-bottom: 40px;
}
.talk-wrapper .heading-text-authentic {
  color: #ffffff;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .talk-wrapper .desc-text {
    margin-bottom: 20px;
  }
  .talk-wrapper .heading-text-authentic {
    margin-bottom: 40px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .talk {
    padding-block: 52px;
  }
}

.footer {
  background-color: #1f1f1f;
  color: #ffffff;
  padding-block: 30.5px;
  margin-block: -1px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper .wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.footer-wrapper .wrap .a-link {
  color: rgba(255, 255, 255, 0.6);
  transition: all 300ms ease;
}
.footer-wrapper .wrap .a-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */