.art {
    padding-block: 56px;
    background-color: $color-black;

    &-wrapper {
        @include flexbox($align: unset);
    }
    &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .heading-content {
            .heading-text {
                margin-bottom: 24px;
                color: $color-white;
            }
            .desc-text {
                max-width: 561px;
                color: $color-white;
            }
        }
    }

    &-right {
        width: 50%;
        .slider-art {
            .card {
                max-width: 434px;
                flex-shrink: 0;
                margin-inline: 20px;
                &-body {
                    margin-top: 24px;
                    @include flexbox($align: flex-start);

                    .card-title {
                        color: $color-white;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: -0.48px;
                    }

                    .card-desc {
                        color: $color-white;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: -0.48px;
                        max-width: 207px;
                    }
                }
            }
        }
    }
    @include responsive(dekstop) {
        &-right {
            .slider-art {
                .card {
                    max-width: 400px;
                    margin-inline: 16px;
                }
            }
        }
    }

    @include responsive(tablet) {
        &-wrapper {
            @include flexbox($direction: column, $align: flex-start);
            gap: 40px;
        }

        &-left {
            gap: 40px;
            .heading-content {
                .heading-text {
                    margin-bottom: 16px;
                }
                .desc-text {
                    max-width: unset;
                }
            }
            .wrap-btn {
                width: 100%;
                gap: unset;
                @include flexbox();
            }
        }

        &-right {
            width: 100%;
            .slider-art {
                .card {
                    &-body {
                        gap: 20px;
                    }
                }
            }
        }
    }

    @include responsive(mobile) {
        padding-block: 36px;

        &-right {
            width: 100%;
            .slider-art {
                .card {
                    max-width: 324px;
                    &-body {
                        gap: 10px;
                        @include flexbox($direction: column, $align: flex-start);
                        .card-desc {
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}
