.banner {
    padding-block: 64px;
    &-wrapper {
        @include flexbox($justify: space-between, $align: flex-start);

        .heading-content-small {
            max-width: 341px;
        }
        .desc-text {
            max-width: 776px;
        }
    }

    @include responsive(dekstop) {
        &-wrapper {
            .heading-content-small {
                max-width: 218px;
            }
            .desc-text {
                max-width: 690px;
            }
        }
    }

    @include responsive(tablet) {
        &-wrapper {
            @include flexbox($direction: column, $align: flex-start);
            gap: 16px;
            .heading-content-small {
                max-width: unset;
            }
            .desc-text {
                max-width: unset;
            }
        }
    }

    @include responsive(mobile) {
        padding-block: 44px;
    }
}
