.footer {
    background-color: $color-black;
    color: $color-white;
    padding-block: 30.5px;
    margin-block: -1px;
    &-wrapper {
        @include flexbox();

        .wrap {
            @include flexbox();
            gap: 48px;
            .a-link {
                color: rgba($color: $color-white, $alpha: 0.6);
                transition: all 300ms ease;
                &:hover {
                    color: $color-white;
                    text-decoration: underline;
                }
            }
        }
    }

    @include responsive(tablet) {
        &-wrapper {
            @include flexbox($direction: column);
            gap: 20px;
            text-align: center;
        }
    }
}
