*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.img,
.ic {
    width: 100%;
}

.bg-dark {
    background-color: $color-black;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    padding: 0 48px;
    margin: 0 auto;

    @include responsive(tablet) {
        padding: 0 20px;
    }
}

body {
    font-family: $font-eudoxus-medium;
    font-size: 16px;
    font-weight: 500;
    color: $color-black;
}

.heading-text {
    font-family: $font-eudoxus-bold;
    font-size: $h3;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -3%;

    @include responsive(tablet) {
        font-size: $h3-md;
    }

    &-small {
        font-size: $h4;
    }

    &-authentic {
        font-family: $font-playfair;
        font-size: $h1;
        font-weight: 700;
        font-style: italic;
        line-height: 110%;
        span {
            font-weight: 400;
            font-style: normal;
        }

        @include responsive(dekstop) {
            font-size: $h1-lg;
        }
        @include responsive(mobile) {
            font-size: $h1-sm;
        }
    }

    &-md {
        font-family: $font-eudoxus-medium;
        font-size: $h2;
        font-weight: 500;
    }
}

.desc-text {
    font-family: $font-eudoxus-medium;
    font-size: $p-lg;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.6px;

    @include responsive(dekstop) {
        font-size: $p-md;
    }

    @include responsive(mobile) {
        font-size: $p;
    }
}

.wrap-btn {
    display: flex;
    gap: 24px;
}
