.meet {
    padding-block: 64px;
    &-wrapper {
        @include flexbox($direction: column, $justify: unset, $align: unset);
        gap: 64px;
    }
    &-top {
        .heading-content {
            text-align: center;
            @include flexbox($direction: column, $align: center);
            gap: 64px;
            .desc-text {
                max-width: 650px;
            }
        }
    }
    &-bottom {
        @include flexbox();
        gap: 21px;
        .img-meet {
            max-width: 662px;
        }
    }

    @include responsive(dekstop) {
        &-bottom {
            .img-meet {
                max-width: 452px;
            }
        }
    }

    @include responsive(tablet) {
        &-wrapper {
            gap: 40px;
        }
        &-top {
            .heading-content {
                gap: 32px;
            }
        }
        &-bottom {
            @include flexbox($direction: column);
            .img-meet {
                max-width: 100%;
            }
        }
    }

    @include responsive(mobile) {
        padding-block: 44px;
    }
}
