@mixin flexbox($direction: row, $justify: space-between, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin responsive($breakpoint) {
    @if $breakpoint == dekstop {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $breakpoint == mobile {
        @media (min-width: 320px) and (max-width: 576px) {
            @content;
        }
    }
}
