.talk {
    padding-block: 72px;
    background-color: $color-black;
    &-wrapper {
        text-align: center;

        .desc-text {
            color: $color-white;
            margin-bottom: 40px;
        }
        .heading-text-authentic {
            color: $color-white;
            margin-bottom: 80px;
        }
    }

    @include responsive(tablet) {
        &-wrapper {
            .desc-text {
                margin-bottom: 20px;
            }
            .heading-text-authentic {
                margin-bottom: 40px;
            }
        }
    }

    @include responsive(mobile) {
        padding-block: 52px;
    }
}
