// Font Playfair Display
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap");
// Font Eudoxus
@font-face {
    font-family: "Eudoxus Sans";
    src: url("/assets/fonts/eudoxussans-regular-webfont.woff2") format("woff2"),
        url("/assets/fonts/eudoxussans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Eudoxus Sans medium";
    src: url("/assets/fonts/eudoxussans-medium-webfont.woff2") format("woff2"),
        url("/assets/fonts/eudoxussans-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Eudoxus Sans bold";
    src: url("/assets/fonts/eudoxussans-bold-webfont.woff2") format("woff2"),
        url("/assets/fonts/eudoxussans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// Variables
$font-playfair: "Playfair Display", serif;
$font-eudoxus-regular: "Eudoxus Sans";
$font-eudoxus-medium: "Eudoxus Sans medium";
$font-eudoxus-bold: "Eudoxus Sans bold";
$h1: 144px;
$h1-lg: 98px;
$h1-sm: 52px;
$h2: 64px;
$h3: 32px;
$h3-md: 28px;
$h4: 24px;
$p-lg: 24px;
$p-md: 22px;
$p: 20px;
$color-black: #1f1f1f;
$color-white: #ffffff;
